/* global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;

  transition: .4s cubic-bezier(0, 0, 0.2, 1);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: inherit;
  padding: 0 6px 4px;
  border-radius: 5px;
}

li {
  list-style: none;
}

.displayNone {
  display: none;
}

/* global elements */

body {
  background: rgb(245, 245, 245);
} 

.container {
  width: 100%;
  height: auto;
  border-radius: 28px;
  padding: 20px;
}

.a_non_styles {
  background-color: unset;
  padding: 0;
  border-radius: unset;
}

/* header */

header {
  width: 100%;
  height: 96px;
  background: rgb(0, 34, 92);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 1s;
  opacity: .9;
}

.header_transform {
  transform: translateY(-96px);
}

.logo {
  width: 320px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
  color: rgb(241, 255, 244);
}

.headLink {
  width: 310px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  right: 64px;
  color: rgb(241, 255, 244);
  padding: 5px;
  border-radius: 9px;
  border: 2px solid rgb(255, 78, 78);
  opacity: .8;
}

.headLink:hover {
  color: rgb(241, 255, 244);
  border-radius: 14px;
  border: 2px solid rgb(255, 28, 28);
  opacity: 1;
}

.mainLink {
  display: none;
  width: 280px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 8px;
  border-radius: 9px;
  color: rgb(245, 245, 245);
  background-color: rgba(24, 69, 148, 0.767);
  margin: 128px auto -72px;
}
  
.mainLink:hover {
  border-radius: 14px;
  color: rgb(255, 255, 255);
  background-color: rgba(24, 69, 148, 0.904);
  opacity: 1;
}

.document:hover {
  opacity: 1;
}

/* main */

main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main_container {
  width: 600px;
}

.big_text {
  font-weight: 700;
  font-size: 56px;
  width: 720px;
  margin: 248px auto;
}

.medium_text {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 82px;
  text-align: center;
}

.h2_contest {
  font-weight: 700;
  font-size: 24px;
}

.table_of_contest_item {
  background: rgb(0, 34, 92);
  border-radius: 16px;
  padding: 28px 20px;
  margin: 16px auto;
}


.margin_after {
  margin-bottom: 68px;
}

.contest_title {
  font-weight: 700;
  font-size: 24px;
}

.contest_body {
  font-size: 24px;
  font-weight: 600;
}

.contest_title, .contest_body {
  color: rgb(241, 255, 244);
}

a.contest_body:hover {
  color: rgb(255, 117, 117);
}


/* footer */

footer {
  display: flex;
  justify-content: center;
  margin: 40px 0 12px;
}

#footer_container {
  width: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main_footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.footer_item {
  width: 220px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: rgb(0, 34, 92);
  padding: 30px;
  border-radius: 20px;
  color: rgb(235, 240, 235);
}

#license {
  width: 240px;
}

#github_link {
  color: rgb(231, 240, 255);
  background-color: rgb(255, 78, 78);
}

#github_link:hover {
  background-color: rgb(255, 28, 28);
}

.year {
  font-weight: 700;
  background-color: rgb(255, 78, 78);
  color: rgb(231, 240, 255);
  padding: 6px 8px;
  border-radius: 6px;
}

@media only screen and (max-width: 960px) {
  #main_footer_container {
    flex-direction: column;
    height: 560px;
  }

  .footer_item, #license {
    width: 68%;
  }

  .headLink {
    display: none;
  }

  .mainLink {
    display: block;
  }


}

@media only screen and (max-width: 768px) {
  #header {
    flex-direction: column;
    height: 96px;
  }
  
  .header_transform {
    transform: translateY(-162px);
  }

  .document {
    width: 48px;
    height: 48px;
    position: static;
    margin-bottom: 18px;
  }

  .big_text {
    width: 86%;
    margin-top: 216px;
  }

  #main_container {
    width: 76%;
  }
  .table_of_contest_item {
    width: 96%;
  }
  
  .year {
    font-size: 18px;
  }
}

@media only screen and (max-width: 433px) {
  .document {
    width: 36px;
    height: 36px;
  }
  #main_container {
    width: 92%;
  }
  .big_text {
    font-size: 42px;
  }
  #main_footer_container {
    height: 640px;
  }
  .footer_item, #license {
    width: 92%;
  }

}